<section>
    <div class="grid">
        <div class="gallery">
            <h3>EDITION</h3>
            <h4>GALLERY</h4>
            <div class="img-1">
                <img src="{{ theme.link }}/img/IMG_4238 1.png" alt="photo 1">
            </div>
            <div class="img-2">
                <img src="{{ theme.link }}/img/Screenshot 2024-03-19 152143 1.png" alt="photo 2">
            </div>
            <div class="img-3">
                <img src="{{ theme.link }}/img/pp.jpg" alt="photo 3">
            </div>
            <div class="img-4">
                <img src="{{ theme.link }}/img/calcetto.jpg" alt="photo 4">
            </div>
            <div class="img-5">
                <img src="{{ theme.link }}/img/Screenshot 2024-03-15 115139 1.png" alt="photo 5">
            </div>
            <div class="img-6">
                <img src="{{ theme.link }}/img/Screenshot 2024-03-15 115007 1.png" alt=" photo 6">
            </div>
            <h4 class="upside-down">GALLERY</h4>
        </div>
        <div class="des">
            <p>Scuola Mohole ha organizzato per la sua prima  edizione di torneo di ping pong e biliardino durante l’anno accademico 2022-2023.
            In questo modo regaliamo divertimento e svago agli studenti negli ultimi periodi di scuola</p>
        </div>
        <h3 class="vertical">22.23</h3>
    </div>
</section>