<section>
    <div class="grid">
        <div class="gallery">
            <h3>EDITION</h3>
            <h4>GALLERY</h4>
            <div class="img-1">
                <img src="{{ theme.link }}/img/IMG_4238 1.png" alt="photo 1">
            </div>
            <div class="img-2">
                <img src="{{ theme.link }}/img/Screenshot 2024-03-19 152143 1.png" alt="photo 2">
            </div>
            <div class="img-3">
                <img src="{{ theme.link }}/img/pp.jpg" alt="photo 3">
            </div>
            <div class="img-4">
                <img src="{{ theme.link }}/img/calcetto.jpg" alt="photo 4">
            </div>
            <div class="img-5">
                <img src="{{ theme.link }}/img/Screenshot 2024-03-15 115139 1.png" alt="photo 5">
            </div>
            <div class="img-6">
                <img src="{{ theme.link }}/img/Screenshot 2024-03-15 115007 1.png" alt=" photo 6">
            </div>
            <h4 class="upside-down">GALLERY</h4>
        </div>
        <div class="des">
            <p>Nel cuore della Scuola Mohole, si è svolto un evento che ha portato gioia e competizione tra gli studenti: il primo torneo di ping pong.</p>
            <p>Con una sala ricca di entusiasmo e la tensione nell'aria, la scuola ha inaugurato una nuova tradizione sportiva che ha lasciato un'impronta indelebile nei cuori e nelle menti di tutti i partecipanti.</p>
            <h3>22.23</h3>
        </div>
        <h3 class="vertical">22.23</h3>
    </div>
</section>